.footer-container{
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-text{
  font-size: 10px;
}

.icon-container {
  padding: 10px;
  margin: 5px;
  width: auto;
  height: 100px;
  align-content: center;
  place-items: flex-start;

}

.footer-svg {

  padding: 0;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  margin: 0;
  height: 100px;
  transform: scale(0.7);

  position: center;
  //-ms-transform: translateY(-50%);
  width: 120px;


  &.facebook {
    path {
      transform: scale(0.06) translateX(210px);
    }
    &:hover {
      path {
        fill: #3b579d;
      }
    }
    &.icon {
      fill: black;
    }
  }
  &.instagram {
    path {
      transform: scale(0.065) translateY(0px);
    }
    &:hover {
      path {
        fill: #dc4a38;
      }
    }
    &.icon {
      fill: black;
    }
  }

  &.twitter {
    path {
      transform: scale(0.065) translateY(80px);
    }

    &:hover {
      path {
        fill: #2caae1;
      }
    }
    &.icon {
      fill: black;
    }
  }
  &.email {
    path {
      transform: scale(0.06) translateY(80px);
    }

    &:hover {
      path {
        fill: #0fa400;
      }
    }
    &.icon {
      fill: black;
    }
  }
}
