.reference-range-collapsible {
  padding: 0 18px;
  background-color: white;
  max-height: 800px;
  overflow: hidden;
  //transition: max-height 1s ease-in-out;
  font-size: 80%;
  overflow-y: auto;

  &.hidden {
    max-height: 0;
    //transition: max-height 1s ease-in-out;
  }




}
