/* ---- grid-item ---- */

.grid-item {
  box-sizing: border-box;
  //width: 260px;
  //height: 260px;
  float: left;
  //padding: 20px;
}

.sponsor-grid, .supporter-grid {
  //align-items: center;
  margin: 0 auto;

  & a {
    //border-bottom: dotted 1px;
    border-bottom: none;
  }

  & img {
    @include vendor('transition', 'transform #{_duration(transition)} ease-out');

    &:hover {
      @include vendor('transform', 'scale(1.05)');
    }
  }
}

.sponsor-image {
  height: 300px;
  width: 300px;
  margin: 10px;
}
