# Django stuff
Django>=3.1.0
django-allauth>=0.44.0  # https://github.com/pennersr/django-allauth
django-anymail>=8.1  # https://github.com/anymail/django-anymail
django-cors-headers>=3.7.0
django-coverage-plugin>=1.8.0
django-crispy-forms>=1.11.0  # https://github.com/django-crispy-forms/django-crispy-forms
django-debug-toolbar>=3.2.1
django-environ>=0.4.5  # https://github.com/joke2k/django-environ
django-extensions>=3.1.3
django-imagekit>=4.0.2
django-model-utils>=4.1.1  # https://github.com/jazzband/django-model-utils
django-pg-copy>=0.4.0
django-redis>=4.12.1  # https://github.com/jazzband/django-redis
django-rest-authtoken>=2.1.3
django-username-email>=2.4.2
django-vanilla-views>=3.0.0
django-webpack-loader>=1.0.0
djangorestframework>=3.12.4
django-bootstrap-modal-forms>=2.2.0
django-widget-tweaks>=1.4.8
django-pagedown>=2.2.0
django-tables2>=2.4.0

# Testing
pytest>=6.2.4
factory-boy>=3.2.0

# Code linting, formatting
black>=21.5b2
flake8-isort>=4.0.0
pre-commit>=2.13.0
rich>=10.2.2
pylint-django>=2.4.4
markdown>=3.3.4


# Data manipulation
Pillow>=8.0.1  # https://github.com/python-pillow/Pillow
openpyxl>=3.0.7
pandas>=1.2.4
python-slugify>=4.0.1  # https://github.com/un33k/python-slugify

# Other
pytz>=2020.4  # https://github.com/stub42/pytz
argon2-cffi>=20.1.0  # https://github.com/hynek/argon2_cffi


# To sort
