{% extends "osce_bank/base_osce_bank.html" %}
{% load static %}
{% load pipeline %}
{% load render_table from django_tables2 %}

{% block css %}
  {{ block.super }}
{% endblock %}

{% block content %}

  <section class="">
    {% if messages %}{% include "messages.html" %}{% endif %}
    <h2>MeDUSA OSCE Bank</h2>
    <p>
      Welcome to MeDUSA's OSCE Bank, a source for OSCE stations from all four years of med school, created and refined
      by Deakin students.
      Please contribute any OSCE stations you might have by <a href="{% url "osce_bank:osce_station_create" %}">creating
      one here</a>,
      or start an OSCE station by <a href="{% url "osce_bank:osce_station_list" %}">selecting one from the list.</a>
    </p>
    <ul>
      <p><b>Navigation:</b></p>
      <li><a href="{% url "osce_bank:osce_station_list" %}">View all OSCE Stations</a></li>
      <li><a href="{% url "osce_bank:osce_station_create" %}">Create new OSCE Station</a></li>
      <li><a href="{% url "osce_bank:osce_station_list_edit" %}">Edit/Review OSCE Stations</a></li>
    </ul>
  </section>

  {#  <section class="">#}
  {##}
  {#    <h2>Category Progress</h2>#}
  {#    {% render_table category_progress_table %}#}
  {##}
  {#  </section>#}


{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_bootstrap_modal_forms" %}
  {% javascript "js_tablesorter" %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#check-session').click(function () {
        $(this).hide()
      })

      $('#check-session').modalForm({
        formURL: "{% url 'osce_bank:check_session' %}",

      })

    })
  </script>

  <script type="application/javascript">
    $(function () {
      $('#category-progress-table').tablesorter()
      $('#session-history-table').tablesorter()
    })
  </script>
{% endblock javascript %}
