{% extends "osce_bank/base_osce_bank.html" %}
{% load quiz_tags %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %} MeDUSA - OSCE Station {% endblock %}
{% block description %}  MeDUSA - OSCE Station {% endblock %}

{% block content %}
  <div class="osce-container">
    <h2>{{ osce_station.title }}</h2>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <hr>
    {% if osce_station.is_flagged %}
      {% include "shared_elements/is_flagged_notice.html" with flag_message=osce_station.flagged_message %}
    {% endif %}
    <div class="osce-stem">
      <h2>Stem:</h2>
      <!-- OSCE Stem and image -->
      {{ osce_station.stem_as_html }}
      {% if osce_station.stem_image %}
        {% clickable_image image_url=osce_station.stem_image.url alt_text="Stem image" %}
      {% endif %}
    </div>

    <div class="osce-patient-script-container">
      <!-- Patient Script -->
      <div class="align-center">
        <hr>
        <a class="button patient-script-btn" role="button"
           data-target=".osce-patient-script-collapsible">
          Show / Hide patient script <i class="fa fa-chevron-down"></i>
        </a></div>
      <div class="osce-patient-script-collapsible" style="display: none">
        <h2>Patient Script:</h2>
        {{ osce_station.patient_script_as_html }}

      </div>
    </div>

    <div class="osce-marking-guide">
      <!-- Marking guide and image -->
      <div class="align-center">
        <hr>
        <a class="button marking-guide-btn align-center" role="button"
           data-target=".osce-marking-guide-collapsible">
          Show / Hide marking guide <i class="fa fa-chevron-down"></i>
        </a></div>
      <div class="osce-marking-guide-collapsible" style="display: none">
        <h2>Marking Guide:</h2>
        {{ osce_station.marking_guide_as_html }}
        {% if osce_station.marking_guide_image %}
          {% clickable_image image_url=osce_station.marking_guide_image.url alt_text="Marking guide image" %}
        {% endif %}
      </div>
    </div>

    <div class="osce-supporting-notes">
      <!-- Supporting notes and image -->
      <div class="align-center">
        <hr>
        <a class="button supporting-notes-btn" role="button"
           data-target=".osce-supporting-notes-collapsible">
          Show / Hide supporting notes <i class="fa fa-chevron-down"></i>
        </a></div>

      <div class="osce-supporting-notes-collapsible" style="display: none">
        <h2>Supporting Notes:</h2>
        {{ osce_station.supporting_notes_as_html }}
        {% if osce_station.supporting_notes_image %}
          {% clickable_image image_url=osce_station.supporting_notes_image.url alt_text="Supporting notes image" %}

        {% endif %}
      </div>
    </div>
    <div class="osce-run-complete ">
      <hr>
      <div class="row" style="display: flex; justify-content: space-around">
        <div class="col col-lg-auto">
          <form method="POST" action="{% url 'osce_bank:osce_station_run' osce_station.id %}">
            {% csrf_token %}
            <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
            <input class="button" type="submit" name="action" value="Complete OSCE Station"/>
          </form>
        </div>

        {% if not osce_station.is_flagged %}
          <div class="col col-lg-auto">
            <form method="GET" action="{% url 'osce_bank:osce_station_mark_flagged' osce_station.id %}">
              {% csrf_token %}
              <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
              <input class="button" type="submit" name="action" value="Flag as incorrect"/>
            </form>
          </div>
        {% endif %}

        {% if user.is_staff or user.is_superuser %}
          {% if not osce_station.is_reviewed %}
            <div class="col col-lg-auto">
              <form method="POST" action="{% url 'osce_bank:osce_station_mark_reviewed' osce_station.id %}">
                {% csrf_token %}
                <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
                <input class="button" type="submit" name="action" value="Mark as reviewed"/>
              </form>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>


    $('.patient-script-btn').click(function () {
      // Get the associated div for this button
      const divToggleId = $(this).attr('data-target')
      $(divToggleId).slideToggle(400)
    })
    $('.marking-guide-btn').click(function () {
      // Get the associated div for this button
      const divToggleId = $(this).attr('data-target')
      $(divToggleId).slideToggle(400)
    })
    $('.supporting-notes-btn').click(function () {
      // Get the associated div for this button
      const divToggleId = $(this).attr('data-target')
      $(divToggleId).slideToggle(400)
    })


  </script>
{% endblock %}
