<nav id="mcq_nav">
  <ul class="links">
    {% with url_name=request.resolver_match.url_name %}
      {% if request.user.is_authenticated %}
        <!-- For each link, check if its the active url -->
        <li class="{% if url_name == 'osce_index' %}active{% endif %}">
          <a href="{% url "osce_bank:osce_index" %}">OSCE Bank Home</a>
        </li>
        <li class="{% if url_name == 'osce_station_list' %}active{% endif %}">
          <a href="{% url "osce_bank:osce_station_list" %}">OSCE Station List</a>
        </li>
        <li class="{% if url_name == 'osce_station_create' %}active{% endif %}">
          <a href="{% url "osce_bank:osce_station_create" %}">Create New OSCE Station</a>
        </li>
        <li class="{% if url_name == 'osce_station_list_edit' %}active{% endif %}">
          <a href="{% url "osce_bank:osce_station_list_edit" %}">Edit/Review OSCE Stations</a>
        </li>
      {% endif %}
    {% endwith %}
  </ul>
</nav>
