{% extends "osce_bank/base_osce_bank.html" %}
{% load pipeline %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load quiz_tags %}
{% load crispy_forms_tags %}

{% block title %}
  MeDUSA - View OSCE Station
{% endblock %}

{% block css %}
  {{ block.super }}
  {% stylesheet "css_core" %}

{% endblock %}

{% block content %}
  <section>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <h3>Viewing OSCE Station (id: {{ osce_station.id }})</h3>
    <!-- Edit / Flag / review buttons -->
    <div class="row" style="display: flex; justify-content: space-around">
      {% if editable %}
        <div class="buttonHolder">
          <a class="button" href={% url "osce_bank:osce_station_update" osce_station.id %}>Edit OSCE Station</a>
        </div>
      {% endif %}

      {% if not osce_station.is_flagged %}
        <div class="col col-lg-auto">
          <form method="GET" action="{% url 'osce_bank:osce_station_mark_flagged' osce_station.id %}">
            {% csrf_token %}
            <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
            <input class="button" type="submit" name="action" value="Flag as incorrect"/>
          </form>
        </div>
      {% endif %}

      {% if user.is_staff or user.is_superuser %}
        {% if not osce_station.is_reviewed %}
          <div class="col col-lg-auto">
            <form method="POST" action="{% url 'osce_bank:osce_station_mark_reviewed' osce_station.id %}">
              {% csrf_token %}
              <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
              <input class="button" type="submit" name="action" value="Mark as reviewed"/>
            </form>
          </div>
        {% endif %}
      {% endif %}
    </div>
    {{ form.author | as_crispy_field }}

    <div class="form-group row osce-fields-div">
      <div class="form-group col-md-6 mb-0">
        {{ form.title | as_crispy_field:"generic" }}
        {{ form.level | as_crispy_field:"generic" }}

      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.types | as_crispy_field:"generic" }}
      </div>
    </div>
    <div class="form-group row osce-fields-div">

      <div class="form-group col-md-12">
        {{ form.specialities | as_crispy_field:"generic" }}

      </div>
    </div>

    <hr style="border: black 1px solid">
    <div class="form-group row osce-fields-div">

      <div class="form-group col-md-6 mb-0">
        <div class="form-group row osce-fields-div" style="align-items: end">
          {{ form.is_reviewed | as_crispy_field:"generic" }}
          {{ form.reviewed_by | as_crispy_field:"generic" }}
        </div>
        <div class="form-group row osce-fields-div" style="align-items: end">
          {{ form.is_flagged | as_crispy_field:"generic" }}
          {{ form.flagged_by | as_crispy_field:"generic" }}
        </div>
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.flagged_message | as_crispy_field:"generic" }}
      </div>
    </div>
    <hr style="border: black 1px solid">

    {{ form.stem | as_crispy_field }}
    {{ form.stem_image | as_crispy_field }}
    <hr style="border: black 1px solid">


    {{ form.patient_script | as_crispy_field }}
    <hr style="border: black 1px solid">
    {{ form.marking_guide | as_crispy_field }}
    {{ form.marking_guide_image | as_crispy_field }}
    <hr style="border: black 1px solid">
    {{ form.supporting_notes | as_crispy_field }}
    {{ form.supporting_notes_image | as_crispy_field }}
    <hr style="border: black 1px solid">

    <div class="row" style="display: flex; justify-content: space-around">
      {% if editable %}
        <div class="buttonHolder">
          <a class="button" href={% url "osce_bank:osce_station_update" osce_station.id %}>Edit OSCE Station</a>
        </div>
      {% endif %}

      {% if not osce_station.is_flagged %}
        <div class="col col-lg-auto">
          <form method="GET" action="{% url 'osce_bank:osce_station_mark_flagged' osce_station.id %}">
            {% csrf_token %}
            <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
            <input class="button" type="submit" name="action" value="Flag as incorrect"/>
          </form>
        </div>
      {% endif %}

      {% if user.is_staff or user.is_superuser %}
        {% if not osce_station.is_reviewed %}
          <div class="col col-lg-auto">
            <form method="POST" action="{% url 'osce_bank:osce_station_mark_reviewed' osce_station.id %}">
              {% csrf_token %}
              <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
              <input class="button" type="submit" name="action" value="Mark as reviewed"/>
            </form>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </section>
{% endblock %}
