{% extends "osce_bank/base_osce_bank.html" %}
{% load pipeline %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load quiz_tags %}
{% load crispy_forms_tags %}

{% block title %}
  MeDUSA - View OSCE Station
{% endblock %}

{% block css %}
  {{ block.super }}
  {% stylesheet "css_core" %}

{% endblock %}

{% block content %}
  <section>
    <h3>Viewing OSCE Station (id: {{ osce_station.id }})</h3>
    {{ form.author | as_crispy_field }}

    <div class="form-group row osce-fields-div">
      <div class="form-group col-md-6 mb-0">
        {{ form.title | as_crispy_field:"generic" }}
        {{ form.level | as_crispy_field:"generic" }}

      </div>
      <div class="form-group col-md-6 mb-0">

        {{ form.types | as_crispy_field:"generic" }}

      </div>
      {{ form.specialities | as_crispy_field:"generic" }}

    </div>
    <hr style="border: black 1px solid">

    {{ form.stem | as_crispy_field }}
    {{ form.stem_image | as_crispy_field }}
    <hr style="border: black 1px solid">


    {{ form.patient_script | as_crispy_field }}
    <hr style="border: black 1px solid">
    {{ form.marking_guide | as_crispy_field }}
    {{ form.marking_guide_image | as_crispy_field }}
    <hr style="border: black 1px solid">
    {{ form.supporting_notes | as_crispy_field }}
    {{ form.supporting_notes_image | as_crispy_field }}

    {% if editable %}
      <hr style="border: black 1px solid">

      <div class="buttonHolder">
        <a class="button" href={% url "osce_bank:osce_station_update" osce_station.id %}>Edit OSCE Station</a>
      </div>
    {% endif %}
  </section>
{% endblock %}
