{% extends "osce_bank/base_osce_bank.html" %}
{% load crispy_forms_field %}
{% load pipeline %}
{% load crispy_forms_filters %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}
{% load martortags %}

{% block title %}
  MeDUSA - Update OSCE Station
{% endblock %}
{% block css %}
  {{ block.super }}
  {% stylesheet "css_core" %}
  {% stylesheet "css_martor" %}

{% endblock %}

{% block content %}

  <p class="h4">Update OSCE station (id: {{ osce_station.id }}) </p>
  {% if messages %}{% include "messages.html" %}{% endif %}
  <form action="{% url 'osce_bank:osce_station_update' osce_station.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row osce-fields-div">
      <div class="form-group col-md-6 mb-0">
        <div class="form-group row" style="width: 100%">
          <div class="form-group col-md-12 mb-0">
            {{ form.title | as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <div class="form-group col-md-6 mb-0">
            {{ form.level | as_crispy_field:"generic" }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.author | as_crispy_field }}
          </div>
        </div>

      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.types | as_crispy_field:"generic" }}
      </div>
    </div>
    <div class="form-group row osce-fields-div">

      <div class="form-group col-md-12">
        {{ form.specialities | as_crispy_field:"generic" }}

      </div>
    </div>

    {% include "shared_elements/hr_thick.html" %}
    {% include "shared_elements/flagging_and_reviewing_form.html" %}
    {% include "shared_elements/hr_thick.html" %}


    {{ form.stem | as_crispy_field }}
    {{ form.patient_script | as_crispy_field }}
    {{ form.marking_guide | as_crispy_field }}
    {{ form.supporting_notes | as_crispy_field }}

    <div class="form-group row">
      <div class="form-group col-md-4 mb-0">{{ form.stem_image | as_crispy_field }}</div>
      <div class="form-group col-md-4 mb-0">{{ form.marking_guide_image | as_crispy_field }}</div>
      <div class="form-group col-md-4 mb-0">{{ form.supporting_notes_image | as_crispy_field }}</div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-0">
        <input type="submit" name="submit" value="Update" class="btn btn-primary">
      </div>
      {% if user.is_reviewer and not osce_station.is_reviewed %}
        <div class="col-md-4 mb-0">
          <form method="POST" action="{% url 'osce_bank:osce_station_mark_reviewed' osce_station.id %}">
            {% csrf_token %}
            <input id="osce_station" type="hidden" name="osce_station" value="{{ osce_station.id }}">
            <input class="button" type="submit" name="action" value="Mark as reviewed"/>
          </form>
        </div>
      {% endif %}
    </div>


  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_martor" %}
{% endblock %}
