{% extends "site/base.html" %}
{% load template_filters %}
{% load pipeline %}
{% load static %}
{% block title %}MeDUSA - About Us{% endblock %}
{% block css %}
  {{ block.super }}
  {#  {% stylesheet "css_core" %}#}
  {% static "/css/main.css" %}
{% endblock %}

{% block content %}

  <!-- Post -->
  <section class="post">
    <header class="major">
      <h1>About Us</h1>
      <p>MeDUSA is your medical society that represents you!</p>
    </header>
    <div class="image main">
      <img alt="" src="{% static "images/pic01.jpg" %}"/>
    </div>
    <p>
      First established in 2008 by it's founding president Caroline Bate, MeDUSA aims to support all Deakin medical
      students and enhance your medical student experience. From academic advocacy and policies to community
      involvement and enormous social events, we aim to provide the best possible experience we can for our student
      body. </p>

    <p>
      MeDUSA’s advocates for students in various aspects of their medical curriculum. This includes student
      representation within committees of the School of Medicine (SoM), such as the Teaching and Learning Committee
      (TLC) and Student Advisory Board for the Faculty of Health. Additionally, MeDUSA networks with other organisations
      and stakeholders relevant to your medical career such as the Australian Medical Students’ Association (AMSA), the
      Australian Medical Association (AMA) and the Postgraduate Medical Council of Victoria.</p>
    <p>
      MeDUSA has regular meetings with curriculum theme leaders, as well as the Head of School. The committee is
      structured to include members from all year levels. This ensures that all cohorts are equally represented and
      student concerns are addressed appropriately. MeDUSA also endeavours to provide students with valuable online
      resources, which can be utilised by students at all clinical sites.</p>
    <p>
      MeDUSA has a growing number of special interest subcommittees, which encourage like-minded people to explore
      particular areas of medicine and health together. In addition, we have close relationships with other health
      organisations such as Universal Health at Deakin (UHAD), General Practice Student Network (GPSN) and Nursing,
      Occupational Therapy, Medicine and Allied Health at Deakin (NOMAD).</p>
    <p>
      MeDUSA is a non-profit, incorporated organisation that is registered with the Department of Consumer and
      Employment
      Protection. As such, MeDUSA abides by a constitution and a set of register of resolutions. These documents include
      details
      about
      the MeDUSA committee structure, election processes, annual general meeting requirements and the responsibilities
      of
      members. These documents can be requested from the MeDUSA Secretary, so that you, as a member of the student body,
      can further your understanding of the functioning of MeDUSA as an organisation.</p>

  </section>
  <section>
    <h2>Committee Structure</h2>
    <!-- Commitee Structure buttons -->
    <!-- Three rows, with first row just containing executive committee, the others with two buttons each -->
    <div class="container">
      <div class="align-center">
        <button class="toggle org-chart-btn" data-toggle="collapse" data-target=".collapse.executive-committee"
                style="font-size: large;">Executive Committee
        </button>
      </div>
      {#      </div>#}
      <div class="org-chart-structure row ">
        <div class="org-chart-structure col col-lg-auto">
          <button class="toggle org-chart-btn" data-toggle="collapse" data-target=".collapse.general-committee"
          >General Committee
          </button>
        </div>
        <div class="org-chart-structure col col-lg-auto">
          <button class="toggle org-chart-btn" data-toggle="collapse" data-target=".collapse.clinical-committee">
            Clinical Committee
          </button>
        </div>
      </div>
      <div class="org-chart-structure row justify-content-md-center">
        <div class="org-chart-structure col col-lg-auto">
          <button class="toggle org-chart-btn" data-toggle="collapse" data-target=".collapse.preclinical-committee"
          >Preclinical Committee
          </button>
        </div>
        <div class="org-chart-structure col col-lg-auto">
          <button class="toggle org-chart-btn" data-toggle="collapse" data-target=".collapse.special-interest-groups">
            Special Interest Groups
          </button>
        </div>
      </div>
    </div>

    {% for subcommittee in subcommittees.values %}
      {% include "site/org_chart_subcomittee.html" with subcommittee=subcommittee %}
    {% endfor %}

  </section>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_core" %}

  <script>

  </script>
{% endblock %}
