{% load quiz_tags %}
<div>
  <div class="">
    {% include "shared_elements/hr_thick.html" %}

    <p>Your answer: {{ submitted_answer.text }}
      <b>
        {% if submitted_answer.correct %} (Correct){% else %} (Incorrect) {% endif %}
      </b>
    </p>
  </div>

  <!-- TODO clean this up a bit! -->
  <table class="table table-striped table-bordered">
  <caption>Answers</caption>
    <tbody>
    {% for answer in question.answers.all %}
      {% if answer.correct %}
        <tr class="mcq-answer correct">
          <td>{{ answer.text }}</td>
          {% if answer.explanation %}
            <td>{{ answer.explanation }}</td>
          {% endif %}
        </tr>
      {% elif answer == submitted_answer %}
        {% if submitted_answer.correct is False %}
          <tr class="mcq-answer incorrect submitted">
            {% else %}
          <tr class="mcq-answer submitted">
        {% endif %}
      <td>{{ answer.text }}</td>
      {% if answer.explanation %}
        <td>{{ answer.explanation }}</td>
      {% endif %}
      </tr>
      {% else %}
        <tr class="mcq-answer">
          <td>{{ answer.text }}</td>
          {% if answer.explanation %}
            <td>{{ answer.explanation }}</td>
          {% endif %}
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <h3>Explanation:</h3>
  {% if question.answer_image %}
    {% clickable_image image_url=question.answer_image.url alt_text=question.correct_answers.0.text %}
  {% endif %}
  {{ question.explanation_as_html }}
</div>
