{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% load i18n %}

{% load render_bundle from webpack_loader %}

{% load quiz_tags %}

{% block title %} {% trans "History Page" %} {% endblock %}
{% block description %} {% trans "User History Page" %} {% endblock %}

{% block content %}
  <link rel="stylesheet" href={% static "modules/tablesorter/dist/css/theme.metro-dark.min.css" %}>
  <h2>{% trans "Category Progress" %}</h2>
  {% render_table category_progress_table %}

  <h2>{% trans "Session History" %}</h2>
  {% render_table session_history_table %}

{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src={% static "modules/tablesorter/dist/js/jquery.tablesorter.js" %}></script>
  <script src={% static "modules/tablesorter/dist/js/jquery.tablesorter.widgets.js" %}></script>

  <script type="application/javascript">
    $(function () {
      $('#category-progress-table').tablesorter()
      $('#session-history-table').tablesorter()
    })
  </script>
{% endblock javascript %}
