{% extends "mcq_bank/base_mcq_bank.html" %}
{% load static %}
{% load pipeline %}
{% load render_table from django_tables2 %}

{% block title %}
  MCQ Bank
{% endblock %}

{% block css %}
  {{ block.super }}
  {#  {% stylesheet "css_core" %}#}
  {#  {% stylesheet "css_tablesorter" %}#}
  {#    <link rel="stylesheet" href={% static "modules/tablesorter/dist/css/theme.metro-dark.min.css" %}>#}

{% endblock %}

{% block content %}

  <section class="">
    <p>
      Welcome to MeDUSA's MCQ Bank, a source for MCQs from all four years of med school, created and refined
      by Deakin students.
      Please contribute any MCQs you might have by <a href="{% url "mcq_bank:question_create" %}">creating
      one here.</a>
    </p>
    {% include "messages.html" %}

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
    </div>
    <div>
      {% if has_current_session %}
        <button id="check-session" class="mcq-start-button button btn-primary" type="button" name="button">
          Start new session / Continue old session <i class="fa fa-chevron-right"></i>
        </button>
      {% else %}
        <a id="start-session" class="mcq-start-button button btn-primary"
           href="{% url "mcq_bank:quiz_session_create" %}">
          Start new session <i class="fa fa-chevron-right"></i>
        </a>
      {% endif %}
    </div>
    <hr>
    <ul>
      Navigation:
      <li><a href="{% url "mcq_bank:history" %}">Quiz History and Progress</a></li>
      <li><a href="{% url "mcq_bank:question_list" %}">View all Questions</a></li>
      <li><a href="{% url "mcq_bank:question_create" %}">Create new question</a></li>
    </ul>
  </section>

  <section class="">

    <h2>Category Progress</h2>
    {% render_table category_progress_table %}

  </section>


{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_bootstrap_modal_forms" %}
  {% javascript "js_tablesorter" %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#check-session').click(function () {
        $(this).hide()
      })
      $('#check-session').modalForm({
        formURL: "{% url 'mcq_bank:check_session' %}",
      })
    })
  </script>

  <script type="application/javascript">
    $(function () {
      $('#category-progress-table').tablesorter()
      $('#session-history-table').tablesorter()
    })
  </script>
{% endblock javascript %}
