{% extends "mcq_bank/base_mcq_bank.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load quiz_tags %}

{% block title %} MeDUSA - MCQ Bank {% endblock %}
{% block description %} MeDUSA - MCQ Bank {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-8">

        {% if question %}
          <div class="question-toanswer">
            {% if session %}
              <div style="float: right;">
                Question {{ session.current_question_index|add:1 }} of {{ session.progress.1 }}
              </div>
            {% endif %}

            <p>
              <small class="muted">Question category:</small>
              <strong>{{ question.category }}</strong>
            </p>

            <p class="lead">{{ question.text }}</p>

            {% if question.image %}
              <a href=""
                 onclick="window.open('{{ question.image.url }}','targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes'); return false;">
                <img src="{{ question.image.url }}" alt="{{ question.text }}"
                     style="max-width: 30vw; max-height: 50vh; padding: 10px"/>
              </a>
            {% endif %}
            {% if not session.current_question_answered %}
              {% crispy form %}
              <div class="answer-response">
                <p>Some placeholder to be replaced eventually</p>

              </div>
            {% else %}
              {% include "mcq_bank/answer_response.html" %}
            {% endif %}


          </div>
        {% endif %}

        <div>
          {% if session.previous_question_index is not None %}
            <a class="button" style="float: left"
               href="{% url "mcq_bank:run_session" %}?q={{ session.previous_question_index }}"> Previous
              question</a>
          {% endif %}
          {% if session.next_question_index is not None %}
            <a class="button" style="float: right"
               href="{% url "mcq_bank:run_session" %}?q={{ session.next_question_index }}"> Next question</a>
          {% else %}
            <a class="button complete-quiz" style="float: right"
               href="{% url "mcq_bank:quiz_session_complete" id=session.id %}"> Complete Quiz</a>
          {% endif %}

        </div>

      </div>


      <div class="col-4">
        {% include "mcq_bank/reference_ranges.html" %}

      </div>
    </div>
  </div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    // Handle question submission
    $('#id-QuestionForm').ajaxForm({
      url: 'http://localhost:8000/mcq_bank/session/', // TODO fix URL make dynamic
      dataType: 'json',
      success: function (response) {
        console.log('The server says: ' + JSON.stringify(response))

        $('div.answer-response').html(response.answer_response)
        $('#id-QuestionForm').hide()

      },
    })
  </script>
{% endblock %}
