{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load quiz_tags %}
{% load crispy_forms_tags %}

{% block title %}
  Update/View question
{% endblock %}
{% block css %}
  {{ block.super }}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{#  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
  <link href="{% static 'css/forms.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
  <link href="{% static 'css/forms.css' %}" rel="stylesheet">
  <h4>Update Question</h4>

  <form action="{% url 'mcq_bank:question_update' id=question.id%}" method="post">
    {% csrf_token %}
    {{ form.author | as_crispy_field }}
    <div class="form-group row">
      <div class="form-group col-md-6 mb-0">{{ form.category | as_crispy_field }}</div>
      <div class="form-group col-md-6 mb-0">{{ form.image | as_crispy_field }}</div>
    </div>

    {{ form.text | as_crispy_field }}
    {{ form.explanation |as_crispy_field }}
    <hr>
    <h4>Answers</h4>
    <p>Provide at least two answers, and leave any un-needed answer fields blank.</p>
    <div class="">{{ form.randomise_answer_order | as_crispy_field }}</div>

{#    {{ answer_formset.management_form }}#}
    <table>
      {% crispy answer_formset answer_formset_helper %}
    </table>

    <input type="button" class="btn btn-secondary" value="Add more answers" id="add-answer" style="margin-bottom: 15px">
    <div class="buttonHolder">
      <input type="submit" name="submit" value="Update" class="btn btn-primary">
    </div>
  </form>

{% endblock %}

{% block javascript %}
  {{ block.super }}


  <script type="application/javascript">
    let answerForms = document.querySelectorAll('tbody > tr')
    let container = document.querySelector('tbody')
    let addButton = document.querySelector('#add-answer')
    let totalForms = document.querySelector('#id_answers-TOTAL_FORMS')
    let formNum = answerForms.length - 1 // Get the number of the last form on the page with zero-based indexing
    addButton.addEventListener('click', addForm)

    function addForm(e) {
      e.preventDefault()

      let newForm = answerForms[0].cloneNode(true) //Clone the bird form
      let formRegex = RegExp(`answers-(\\d){1}-`, 'g') //Regex to find all instances of the form number

      formNum++ //Increment the form number
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `answers-${formNum}-`) //Update the new form to have the correct form number
      // remove existing values
      text_values = newForm.querySelectorAll('input[type=text]')
      text_values.forEach(element => element.setAttribute('value', ''))

      let new_row = container.insertRow() //Insert a new row
      new_row.innerHTML = newForm.innerHTML
      totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the management form
    }
  </script>

  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function (i, block) {
      hljs.highlightBlock(block)
    })
  </script>
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>


{% endblock %}
