{% extends "mcq_bank/base_mcq_bank.html" %}
{% load pipeline %}
{% load crispy_forms_filters %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}
{% load martortags %}

{% block title %}
  Create new question
{% endblock %}
{% block css %}
  {{ block.super }}
  {% stylesheet "css_core" %}
  {% stylesheet "css_martor" %}

{% endblock %}

{% block content %}

  <p class="h4">Create new question</p>
  <form action="{% url 'mcq_bank:question_create' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <div class="form-group col-md-6 mb-0">{{ form.category | as_crispy_field }}</div>
      <div class="form-group col-md-6 mb-0">{{ form.question_image | as_crispy_field }}</div>
      <div class="form-group col-md-6 mb-0">{{ form.answer_image | as_crispy_field }}</div>

    </div>

    {{ form.text | as_crispy_field }}

    {{ form.explanation | as_crispy_field }}

    <hr>
    <h4>Answers</h4>
    <div class="">
      <p>Provide at least two answers, and leave any un-needed answer fields blank.</p>

      {{ form.randomise_answer_order | as_crispy_field:"generic" }}</div>

    <table>
      {% crispy answer_formset answer_formset_helper %}
    </table>
    <input type="button" class="btn btn-secondary" value="Add more answers" id="add-answer" style="margin-bottom: 15px">

    <div class="buttonHolder">

      <input type="submit" name="submit" value="Submit" class="btn btn-primary">
    </div>
  </form>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_martor" %}
  <script src={% static "js/formset_add.js" %}></script>
{% endblock %}
