{% extends "mcq_bank/base_mcq_bank.html" %}
{% load pipeline %}
{% load crispy_forms_filters %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load quiz_tags %}

{% block title %}
  MeDUSA - All Questions
{% endblock %}
{% block description %}
  All Questions
{% endblock %}


{% block content %}
  <link rel="stylesheet" href={% static "modules/tablesorter/dist/css/theme.metro-dark.min.css" %}>
  <h2>Question list</h2>
  {% if messages %}{% include "messages.html" %}{% endif %}

  <p>Filter and select a question to edit/view below. Note that you can only edit MCQ questions you have authored,
    unless you
    have admin permission. To request edit permissions, <a href="mailto:it@medusa.org.au">email the IT Chair.</a></p>
  <form action="" method="get" class="form">
    <div class="container">
      <div class="row">
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.category|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.author|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.answered|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.is_flagged|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ filter.form.is_reviewed|as_crispy_field }}
        </div>
      </div>
      <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group col-8">
          <div class="row">
            <div class="form-group col-md-4">
              <a class="button" href="{% url 'mcq_bank:question_list' %}">Reset filter(s)</a>
            </div>
            <div class="form-group col-md-4">
              <div class="buttonHolder">

                <input type="submit" name="submit" value="Apply filter(s)" class="btn btn-primary">
              </div>
              {#              {% bootstrap_button 'Apply filter(s)' button_type="submit" button_class="btn-primary" %}#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="{% url 'mcq_bank:quiz_session_create_from_questions' %}" method="post" class="form">
    {% csrf_token %}
    <div hidden>
      {{ quiz_create_form.user | as_crispy_field }}
      {{ quiz_create_form.questions| as_crispy_field }}
    </div>
    <div class="form-group col-4">
      <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group col-md-offset">
          <input type="submit" class="btn btn-primary" value="New quiz from displayed questions"
                 style="margin-left: 10px">
        </div>
      </div>
    </div>
  </form>

  {% render_table question_list_table %}



{% endblock %}
{% block javascript %}
  {{ block.super }}

  {% javascript "js_tablesorter" %}
  <script type="application/javascript">
    $(function () {
      $('#question-list-table').tablesorter()
    })

  </script>
{% endblock javascript %}
