<div id="div_ref_range_wrapper">
  <a class="button reference-range-btn" role="button"
     data-target=".reference-range-collapsible">
    Reference ranges <i class="fa fa-chevron-down"></i>
  </a>
  <div class="" id="ref_range">
    <div class="reference-range-collapsible" style="display: none">
      <h6 class="text-primary"><b>Full blood count</b></h6>
      <br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>Haemoglobin</b></td>
          <td>Men: 135-180 g/L
            Women: 115-160 g/L
          </td>
        </tr>
        <tr>
          <td><b>Mean cell volume</b></td>
          <td>82-100 fl</td>
        </tr>
        <tr>
          <td><b>Platelets</b></td>
          <td>150-400 * 10<sup>9</sup>/L</td>
        </tr>
        <tr>
          <td><b>White blood cells</b></td>
          <td>4.0-11.0 * 10<sup>9</sup>/L</td>
        </tr>
        <tr>
          <td><b>Neutrophils</b></td>
          <td>2.0-7.0 * 10<sup>9</sup>/L</td>
        </tr>
        <tr>
          <td><b>Lymphocytes</b></td>
          <td>1.0-3.5 * 10<sup>9</sup>/L</td>
        </tr>
        <tr>
          <td><b>Eosinophils</b></td>
          <td>0.1-0.4 * 10<sup>9</sup>/L</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Urea and electrolytes</b></h6>
      <br><br>
      <table class="table  table-sm">
        <tbody>
        <tr>
          <td><b>Sodium</b></td>
          <td>135-145 mmol/L</td>
        </tr>
        <tr>
          <td><b>Potassium</b></td>
          <td>3.5 - 5.0 mmol/L</td>
        </tr>
        <tr>
          <td><b>Urea</b></td>
          <td>2.0-7 mmol/L</td>
        </tr>
        <tr>
          <td><b>Creatinine</b></td>
          <td>55-120 umol/L</td>
        </tr>
        <tr>
          <td><b>Bicarbonate</b></td>
          <td>22-28 mmol/L</td>
        </tr>
        <tr>
          <td><b>Chloride</b></td>
          <td>95-105 mmol/L</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Liver function tests</b></h6>
      <br><br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>Bilirubin</b></td>
          <td>3-17 umol/L</td>
        </tr>
        <tr>
          <td><b>Alanine transferase (ALT)</b></td>
          <td>3-40 iu/L</td>
        </tr>
        <tr>
          <td><b>Aspartate transaminase (AST)</b></td>
          <td>3-30 iu/L</td>
        </tr>
        <tr>
          <td><b>Alkaline phosphatase (ALP)</b></td>
          <td>30-100 umol/L</td>
        </tr>
        <tr>
          <td><b>Gamma glutamyl transferase (yGT)</b></td>
          <td>8-60 u/L</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td><b>Total protein</b></td>
          <td>60-80 g/L</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Other haematology</b></h6>
      <br><br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>Erythrocyte sedimentation rate (ESR)</b></td>
          <td>Men: &lt; (age / 2) mm/hr
            Women: &lt; ((age + 10) / 2) mm/hr
          </td>
        </tr>
        <tr>
          <td><b>Prothrombin time (PT)</b></td>
          <td>10-14 secs</td>
        </tr>
        <tr>
          <td><b>Activated partial thromboplastin time (APTT)</b></td>
          <td>25-35 secs</td>
        </tr>
        <tr>
          <td><b>Ferritin</b></td>
          <td>20-230 ng/ml</td>
        </tr>
        <tr>
          <td><b>Vitamin B12</b></td>
          <td>200-900 ng/L</td>
        </tr>
        <tr>
          <td><b>Folate</b></td>
          <td>3.0 nmol/L</td>
        </tr>
        <tr>
          <td><b>Reticulocytes</b></td>
          <td>0.5-1.5%</td>
        </tr>
        <tr>
          <td><b>D-Dimer</b></td>
          <td>&lt; 400 ng/ml</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Other biochemistry</b></h6>
      <br><br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>Calcium</b></td>
          <td>2.1-2.6 mmol/L</td>
        </tr>
        <tr>
          <td><b>Phosphate</b></td>
          <td>0.8-1.4 mmol/L</td>
        </tr>
        <tr>
          <td><b>CRP</b></td>
          <td>&lt; 10 mg/L</td>
        </tr>
        <tr>
          <td><b>Thyroid stimulating hormone (TSH)</b></td>
          <td>0.5-5.5 mu/L</td>
        </tr>
        <tr>
          <td><b>Free thyroxine (T4)</b></td>
          <td>9-18 pmol/L</td>
        </tr>
        <tr>
          <td><b>Total thyroxine (T4)</b></td>
          <td>70-140 nmol/L</td>
        </tr>
        <tr>
          <td><b>Amylase</b></td>
          <td>70-300 u/L</td>
        </tr>
        <tr>
          <td><b>Uric acid</b></td>
          <td>0.18-0.48 mmol/L</td>
        </tr>
        <tr>
          <td><b>Creatine kinase</b></td>
          <td>35-250 u/L</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Arterial blood gases</b></h6>
      <br><br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>pH</b></td>
          <td>7.35 - 7.45</td>
        </tr>
        <tr>
          <td><b>pCO2</b></td>
          <td>4.5 - 6.0 kPa</td>
        </tr>
        <tr>
          <td><b>pO2</b></td>
          <td>10 - 14 kPa</td>
        </tr>
        </tbody>
      </table>
      <br>

      <h6 class="text-primary"><b>Lipids</b></h6>
      <br><br>
      Desirable lipid values depend on other risk factors for cardiovascular disease, below is just a guide:<br>
      <br>
      <table class="table table-sm">
        <tbody>
        <tr>
          <td><b>Total cholesterol</b></td>
          <td>&lt; 5 mmol/L</td>
        </tr>
        <tr>
          <td><b>Triglycerides</b></td>
          <td>&lt; 2 mmol/L</td>
        </tr>
        <tr>
          <td><b>HDL cholesterol</b></td>
          <td>&gt; 1 mmol/L</td>
        </tr>
        <tr>
          <td><b>LDL cholesterol</b></td>
          <td>&lt; 3 mmol/L</td>
        </tr>
        </tbody>
      </table>

      Reference ranges vary according to individual labs. All values are for adults unless otherwise stated
    </div>
  </div>
</div>
