{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Past Quiz sessions" %}{% endblock %}
{% load static %}

{% block content %}

{% endblock %}
{% block javascript %}
  {{ block.super }}
  <script src={% static "modules/tablesorter/dist/js/jquery.tablesorter.js" %}></script>
  <script src={% static "modules/tablesorter/dist/js/jquery.tablesorter.widgets.js" %}></script>

    <script type="application/javascript">
      $(function () {
      $('#history-table').tablesorter()
    })
  </script>
{% endblock javascript %}
