{% extends "mcq_bank/base_mcq_bank.html" %}
{% load pipeline %}
{% load i18n %}
{% block title %}{% trans "Past Quiz sessions" %}{% endblock %}
{% load static %}
{% block css %}
   {{ block.super }}
   {% stylesheet "css_tablesorter" %}
{% endblock %}
{% block content %}

{% endblock %}
{% block javascript %}
  {{ block.super }}
  {% javascript "js_tablesorter" %}

    <script type="application/javascript">
      $(function () {
      $('#history-table').tablesorter()
    })
  </script>
{% endblock javascript %}
