{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block content %}
  <h1>{% trans "Questions in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</h1>

  {% with object_list as questions %}
    {% if questions %}
      <ul>
        {% for question in questions %}
          <li>
            <a href="{% url 'mcq_bank:question' id=question.id %}">
              {{ question.id }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "There are no questions in this category" %}</p>
    {% endif %}
  {% endwith %}
{% endblock %}
