{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contribution Certificate</title>
  <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="contribution_certificate_container">
  <!–– Image size is 1754 x 1240 ––>
  <img class="background-image" src="{% static 'images/certificates/MeDUSA-Certificate.png' %}"
       alt="Certificate background">

  <div class="name_div">
    {{ user.name.upper }}
  </div>

  <div class="for_div">
    for
  </div>

  <div class="details_div">
    {{ cert_details }}
  </div>
  <div class="bottom_text_div date_value">
    {{ date }}
  </div>
  <div class="bottom_text_div date_title">
    DATE
  </div>
  <div class="bottom_text_div signer_1">
    {{ signer_1.name.upper }}<br>MeDUSA {{ signer_1.current_role.position.upper }}
  </div>
  <div class="bottom_text_div signer_2">
    {{ signer_2.name.upper }}<br>MeDUSA {{ signer_2.current_role.position.upper }}
  </div>
  {% if is_signed %}
    <div class="bottom_text_div signer_1_image">
      <img class="sig_image" src="{{ signer_1.signature_image.url }}" alt="Signer 1 Signature">
    </div>
    <div class="bottom_text_div signer_2_image">
      <img class="sig_image" src="{{ signer_2.signature_image.url }}" alt="Signer 2 Signature">

    </div>
  {% else %}
    <div class="preview_banner">
      PREVIEW - NOT SIGNED
    </div>
  {% endif %}
</div>
</body>
</html>
