{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        {% if object.name %}
          <h3>{{ object.name }}</h3>
        {% endif %}
        <h3>Email: {{ object.email }}</h3>
        <h3>Graduating Year: {{ object.graduation_year }}</h3>
      </div>
    </div>

    {% if object == request.user %}
      <!-- Action buttons -->
      {#      <div class="row">#}

      {#        <div class="col-sm-12">#}
      <ul>
        <li><a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Change user details</a></li>
        <li><a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign&nbsp;Out</a></li>
      </ul>


      {#        </div>#}

      {#      </div>#}
      <!-- End Action buttons -->
    {% endif %}


  </div>
{% endblock content %}
