{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
    {% if messages %}{% include "messages.html" %}{% endif %}

      <h3>Personal Details:</h3>
      <ul>
        <li><b>Name:</b> {{ object.name }}</li>
        <li><b>Email:</b> {{ object.email }}</li>
        <li><b>Membership Number:</b> {{ object.member_id }}</li>
        <li><b>Membership Expiry:</b> {{ object.membership_expiry }}</li>
      </ul>

    {% if object == request.user %}
      <hr>
      <h3>Manage Account:</h3>
      <ul>
        <li><a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Change user details</a></li>
        <li><a class="btn btn-primary" href="{% url 'account_change_password' %}" role="button">Change password</a></li>

        <li><a href="{% url 'account_logout' %}">Sign&nbsp;Out</a></li>
      </ul>
    {% endif %}


  </div>
{% endblock content %}
