{% extends "base.html" %}
{% load template_filters %}
{% load pipeline %}
{% load static %}
{% block title %}MeDUSA - Events{% endblock %}
{% block css %}
  {{ block.super }}
  {#  {% stylesheet "css_core" %}#}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css">

{% endblock %}

{% block content %}

  <!-- Post -->
  <section class="">
    {% if messages %}{% include "messages.html" %}{% endif %}
    <header class="major">
      <h1>Events</h1>
      <p><a
        href="https://calendar.google.com/calendar/u/0?cid=bWVkdXNhLm9yZy5hdV9rc3RhOTNuNHIxYWFmNTJ0ZnV2YWFkcHVhY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t"
        target="_blank">Click here for more details on Google Calendar</a>
        <br>
        <a
          href="https://www.facebook.com/pg/medusa.deakin/events/"
          target="_blank">Social events can be found on the Facebook calendar here</a>
      </p>
      <p>

      </p>
    </header>


    <div id='calendar'></div>


  </section>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_moment" %}
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar')
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        googleCalendarApiKey: 'AIzaSyCy-mujEZBMpra0gDgTrGvxHH0bH7rC0Os',
        events: {
          googleCalendarId: 'medusa.org.au_ksta93n4r1aaf52tfuvaadpuac@group.calendar.google.com',
          className: 'gcal-event', // an option!
        },
      })
      calendar.render()
    })
    // Make the toolbar responsive
    // add the responsive classes after page initialization
    window.onload = function () {
      $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12')
    }
    $(document).on('click', '.fc-button', function (e) {
      $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12')
    })
  </script>

{% endblock %}
