{% extends "base.html" %}
{% load pipeline %}
{% load static %}
{% block title %}MeDUSA{% endblock %}


{% block css %}
  {{ block.super }}
  {% stylesheet "css_juicer" %}
{% endblock %}

{% block intro %}

  <!-- Intro -->
  <div id="intro">
    <h1> MeDUSA </h1>
    <p>
      A society for Deakin MD students
    </p>
    <ul class="actions">
      <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
  </div>

{% endblock %}

{% block content %}
  {% if messages %}{% include "messages.html" %}{% endif %}
  <!-- Juicer Feed -->
  <section>
    <ul class="juicer-feed" data-feed-id="medusa-deakin" data-per="20" data-columns="3" data-filter="instagram"
        data-overlay="true"
    ></ul>
  </section>

  <!-- Main Sponsor -->
  <div>
    <div class="paragraph" style="text-align:center;">MeDUSA is proudly sponsored by

      <div>
        <div class="wsite-image wsite-image-border-none "
             style="padding-top:0px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
          <a href="https://www.avant.org.au/students/" target="_blank">
            <img alt="Avant Medical" style="width:auto;max-width:100%"
                 src={% static "images/sponsors/avant-mutual_large.png" %}>
          </a>
          <div style="display:block;font-size:90%"></div>
        </div>
      </div>

      Other MeDUSA sponsors can be found on our <a href="{% url "frontend:about" %}#sponsors">sponsorship page</a>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  {{ block.super }}
  {% javascript "js_juicer" %}
{% endblock %}
