
<nav id="nav">
  <ul class="links">
    {% with url_name=request.resolver_match.url_name %}
      <!-- For each link, check if its the active url -->
      <li class="{% if url_name == 'index' %}active{% endif %}">
        <a href="{% url "frontend:index" %}">Home</a>
      </li>
      <li class="{% if url_name == 'about' %}active{% endif %}">
        <a href="{% url "frontend:about" %}">About</a>
      </li>
      <li class="{% if url_name == 'contact' %}active{% endif %}">
        <a href="{% url "frontend:contact" %}">Contact</a>
      </li>
      <li class="{% if url_name == 'events' %}active{% endif %}">
        <a href="{% url "frontend:events" %}">Events</a>
      </li>
      <li class="{% if url_name == 'publications' %}active{% endif %}">
        <a href="{% url "frontend:publications" %}">Publications</a>
      </li>
      <li class="{% if url_name == 'resources' %}active{% endif %}">
        <a href="{% url "frontend:resources" %}">Resources</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="{% if url_name == 'detail' %}active{% endif %}">
          {# URL provided by django-allauth/account/urls.py #}
          <a class="nav-link" href="{% url 'users:detail' request.user.email %}"><i class="fas fa-user"></i>&nbsp;&nbsp;Profile</a>
        </li>

      {% else %}
        <li class="{% if url_name == 'account_signup' %}active{% endif %}">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign&nbsp;Up</a>
        </li>
        <li class="{% if url_name == 'account_login' %}active{% endif %}">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Sign&nbsp;In</a>
        </li>
      {% endif %}
    {% endwith %}


    {#    <li><a href="{% url "frontend:generic" %}">Generic&nbsp;Page</a></li>#}
    {#    <li><a href="{% url "frontend:elements" %}">Elements&nbsp;Reference</a></li>#}

  </ul>
  <ul class="icons">
    <li><a href="https://www.instagram.com/medusa.deakin/" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
    </li>
    <li><a href="https://www.facebook.com/medusa.deakin/" class="icon brands fa-facebook-f"><span
      class="label">Facebook</span></a></li>
    <li><a href="https://twitter.com/medusadeakin" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
    </li>
    <li><a href="mailto:secretary@medusa.org.au" class="icon far fa-envelope"><span class="label">Mail</span></a></li>
  </ul>
</nav>
