{% extends "base.html" %}
{% load template_filters %}
{% load pipeline %}
{% load static %}
{% block title %}MeDUSA - Publications{% endblock %}
{% block content %}

  <!-- Post -->
  <section>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <header class="major">
      <h1>Publications</h1>
      <p>MeDUSA publishes material throughout the year, covering the survival of medical school (MeDUSA Survival Guide)
        and a biannual magazine (The Pulse).
      </p>
    </header>
    {#    <div class="image main">#}
    {#      <img alt="" src="{% static "images/frontend/building_ka.jpg" %}"/>#}
    {#    </div>#}
    {% for publication_type, publications in publications_grouped %}
      <div>
        <h5>{{ publication_type.type }}</h5>
        <p>
          {{ publication_type.display_description|safe }}
        </p>
        <div class="publication-collection">
          {% for pub in publications %}
            {% include "frontend/publication_item.html" with publication=pub %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}


  </section>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% javascript "js_core" %}

  {#  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>#}
  {#  <script>#}
  {#    var elem = document.querySelector('.sponsor-grid')#}
  {#    var msnry = new Masonry(elem, {#}
  {#      // options#}
  {#      itemSelector: '.grid-item',#}
  {#      columnWidth: 330,#}
  {#      fitWidth: true,#}
  {##}
  {#gutter: 25,#}
  {#    })#}
  {#    var elem2 = document.querySelector('.supporter-grid')#}
  {##}
  {#    var msnry2 = new Masonry(elem2, {#}
  {#      // options#}
  {#      itemSelector: '.grid-item',#}
  {#      columnWidth: 330,#}
  {#      fitWidth: true,#}
  {#gutter: 25,#}
  {#    })#}
  {#  </script>#}

{% endblock %}
